doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet' href='assets/css/main.css')
    script(src='assets/js/main.js')
      

  body
    a(href="/") home

    h1 This is the About page.