extends _layouts/main

block title
  title Website Name | Home

block content      
  #container.col
    h1 Jade - node template engine
    if youAreUsingJade
      p You are amazing
    else
      p Get on it! works? Yes! testing.
    p.
      Jade is a terse and simple templating language with a
      strong focus on performance and powerful features.

    a(href="about.html") about